@page "/character-tags"
@using Forge.Shared
@using Forge.Shared.Data
@inject HttpClient Http

<h1>Character tags</h1>

@if (tags == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="overview-action-bar">
    <a class="btn btn-outline-primary overview-action-btn" href="character-tag">New tag</a>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in tags)
            {
            <tr>
                <td>@tag.Id</td>
                <td>@tag.Name</td>
                <td>
                    <a class="nav-link" href="character-tag/@tag.Id">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private CharacterTagModel[] tags;

    protected override async Task OnInitializedAsync()
    {
        tags = await Http.GetFromJsonAsync<CharacterTagModel[]>("api/charactertag/get");
    }
}
