@page "/character-tag"
@page "/character-tag/{Id}"
@using Forge.Shared
@using Forge.Shared.Data
@using Markdig
@inject HttpClient Http
@inject NavigationManager NavigationManager

<DetailPage Title="Tag" OnSave="Save" IsLoading="@(_tag == null)" IsCreating="@string.IsNullOrEmpty(Id)">
    <Body>
        <form>
            <div class="form-group">
                <label for="char_name">Name</label>
                <input placeholder="Name" class="form-control" name="char_name" @bind="_tag.Name" />
            </div>
        </form>
    </Body>
</DetailPage>

@code {
    [Parameter]
    public string Id { get; set; }
    private CharacterTagModel _tag { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"Editing tag: {Id}");
        if (string.IsNullOrEmpty(Id) == false)
        {
            _tag = await Http.GetFromJsonAsync<CharacterTagModel>($"api/charactertag/getone?id={Id}");
        }
        else
        {
            _tag = new CharacterTagModel()
            {
                Id = Guid.NewGuid()
            };
        }
    }

    private async void Save()
    {
        if (string.IsNullOrEmpty(Id) == false)
        {
            await Http.PostAsJsonAsync<CharacterTagModel>("api/charactertag/Update", _tag);
        }
        else
        {
            await Http.PostAsJsonAsync<CharacterTagModel>("api/charactertag/Insert", _tag);
            Id = _tag.Id.ToString();
            NavigationManager.NavigateTo($"/character-tag/{Id}");
            StateHasChanged();
        }
    }
}
