@page "/users"
@using Forge.Shared
@using Forge.Shared.Data
@inject HttpClient Http

<h1>Users</h1>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private UserModel[] users;

    protected override async Task OnInitializedAsync()
    {
        users = await Http.GetFromJsonAsync<UserModel[]>("api/user");
    }
}
